html{
	scroll-behavior:smooth;
}

body{
	background-color:#DDDDDD;
}
p{
	width:65%;
	font-size:20px;
}
h1, h2, h3, h4, h5, h6{
	font-family: Arial;
}
img{
	width:40%;
	padding: 5px;
	border: solid #2F2F2F;
	min-width:420px;
}
figcaption{
	font-size:29px;
}
a:link {
  color: #1D3773;
  padding: 5px;
}
a:visited{
	color:  #1D3773;
}
a:hover {
  color: #001B5A;
}
a:active {
  color: blue;
}
#sideHead{
	text-align:  CENTER;
}
#sideBar{
	/*background-color: #007EFF;*/
	background: linear-gradient(to right, #0078cb, #00c4ec);
	color: #FFFFFF;
	font-size: 25px;
	position: fixed;
	bottom: 15%;
	top:10%;
	right: 5%;
	left:70%;
	font-family: Arial;
	text-align:  LEFT;
	border:solid #2F2F2F;
	padding: 5px;
	max-width: 1000px;
	min-width: 300px;
	min-height: 300px;
}
#bottomBar{
	/*background-color: #007EFF;*/
	background: linear-gradient(to right, #0038cd, #00d4ff);
	color: #FFFFFF;
	font-size: 25px;
	position: fixed;
	bottom: -25px;
	left: -50px;
	right: -50px;
	padding: 10px;
	text-align: CENTER;
	font-family: Arial;
	border:solid #2F2F2F;
}

textarea, input{
	background-color:#FFFFFF;
}
feildset{
	max-width:500px;
	width:200px;
}



#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #DDDDDD;
}